<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NFE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>

    <!-- INFORMAÇÕES DO CERTIFICADO -->
    <add key="CaminhoCertificado" value="C:/Desenvolvimento/Nfe_GDR7/Certificado/certificado_2024.pfx" />
    <add key="SenhaCertificado" value="Arm@z&amp;m72023" />

    <!-- INFORMAÇÕES DO EMAIL -->
    <add key="SmtpServer" value="mail.gdr7.com.br"/>
    <add key="EmailFrom" value="intranet@gdr7.com.br"/>
    <add key="EmailSenha" value="$$senha014"/>

    <!--INFORMAÇÕES DO CABEÇALHO-->
    <add key="VersaoCabecalhoNFE" value="1.02" />
    <add key="VersaoDadosNFE" value="1.10" />
    <add key="VersaoDadosNFECancelmanto" value="1.07" />
    <add key="CodificacaoCabecalho" value="UTF-8" />
    <add key="VersaoDadosNFENova" value="4.00" />

    <!--INFORMAÇÕES DA NFE-->
    <add key="CodificacaoNFE" value="UTF-8"/>

    <!--NAMESPACE UTILIZADO NA MAIOR PARTE DOS ARQUIVOS SCHEMA-->
    <add key="NameSpaceNFE" value="http://www.portalfiscal.inf.br/nfe"/>

    <!--
      1 PARA PRODUÇÃO 
      2 PARA HOMOLOGACAO
    -->
    <add key="Ambiente" value="2"/>

    <!--  
      1 - > Desenvolvimento  
      2 - > HOMOLOGAÇÃO GDR7   
      3 - > PRODUÇÃO GDR7   
    -->
    <add key="intConexao" value="2"/>

    <!--  
      1 -  VERSÃO ANTIGA 3.0    
      2 -> VERSÃO NOVA 4.01 
    -->
    <add key="VersaoNFe" value="2"/>

    <!--- WEB SERVICES DE HOMOLOGAÇÃO CARATER INFORMATIVO-->
    <add key="WSNFEHomologacaoRecepcao" value="https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeRecepcaoSoap"/>
    <add key="WSNFEHomologacaoRetRecepcao" value="https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeRetRecepcaoSoap"/>
    <add key="WSNFEHomologacaoCancelamento" value="https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeCancelamentoSoap"/>
    <add key="WSNFEHomologacaoInutilizacao" value="https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeInutilizacaoSoap"/>
    <add key="WSNFEHomologacaoConsultaNF" value="https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeConsultaSoap"/>
    <add key="WSNFEHomologacaoStatusServico" value="https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeStatusServicoSoap"/>

    <!--- WEB SERVICES DE PRODUÇÃO CARATER INFORMATIVO-->
    <add key="WSNFEProducaoRecepcao" value="https://nfe.fazenda.sp.gov.br/nfeWEB/services/NfeRecepcaoSoap"/>
    <add key="WSNFEProducaoRetRecepcao" value="https://nfe.fazenda.sp.gov.br/nfeWEB/services/NfeRetRecepcaoSoap"/>
    <add key="WSNFEProducaoCancelamento" value="https://nfe.fazenda.sp.gov.br/nfeWEB/services/NfeCancelamentoSoap"/>
    <add key="WSNFEProducaoInutilizacao" value="https://nfe.fazenda.sp.gov.br/nfeWEB/services/NfeinutilizacaoSoap"/>
    <add key="WSNFEProducaoConsultaNF" value="https://nfe.fazenda.sp.gov.br/nfeWEB/services/NfeConsultaSoap"/>
    <add key="WSNFEProducaoStatusServico" value="https://nfe.fazenda.sp.gov.br/nfeWEB/Services/NfeStatusServicoSoap"/>

    <!-- Caminhos de onde será gravados os XML's -->
    <add key="PastaXMLRecepcaoHomologacao" value="C:/Desenvolvimento/Nfe_GDR7/RecepcaoHomologacao/"/>
    <add key="PastaXMLRecepcaoRetornoHomologacao" value="C:/Desenvolvimento/Nfe_GDR7/RecepcaoHomologacao/Retorno/"/>
    <add key="PastaXMLRecepcaoClienteHomologacao" value="C:/Desenvolvimento/Nfe_GDR7/RecepcaoHomologacao/Distribuicao/"/>
    
    <add key="PastaXMLRecepcaoProducao" value="C:/Desenvolvimento/Nfe_GDR7/RecepcaoProducao/"/>
    <add key="PastaXMLRecepcaoRetornoProducao" value="C:/Desenvolvimento/Nfe_GDR7/RecepcaoProducao/Retorno/"/>
    <add key="PastaXMLRecepcaoClienteProducao" value="C:/Desenvolvimento/Nfe_GDR7/RecepcaoProducao/Distribuicao/"/>
    
    <add key="PastaXMLRetRecepcaoHomologacao" value="C:/Desenvolvimento/Nfe_GDR7/RetRecepcaoHomologacao/"/>
    <add key="PastaXMLRetRecepcaoRetornoHomologacao" value="C:/Desenvolvimento/Nfe_GDR7/RetRecepcaoHomologacao/Retorno/"/>
    <add key="PastaXMLRetRecepcaoClienteHomologacao" value="C:/Desenvolvimento/Nfe_GDR7/RetRecepcaoHomologacao/Distribuicao/"/>
    
    <add key="PastaXMLRetRecepcaoProducao" value="C:/Desenvolvimento/Nfe_GDR7/RetRecepcaoProducao/"/>
    <add key="PastaXMLRetRecepcaoRetornoProducao" value="C:/Desenvolvimento/Nfe_GDR7/RetRecepcaoProducao/Retorno/"/>
    <add key="PastaXMLRetRecepcaoClienteProducao" value="C:/Desenvolvimento/Nfe_GDR7/RetRecepcaoProducao/Distribuicao/"/>
    
    <add key="PastaXMLCancelamentoHomologacao" value="C:/Desenvolvimento/Nfe_GDR7/CancelamentoHomologacao/"/>
    <add key="PastaXMLCancelamentoHomologacaoRetorno" value="C:/Desenvolvimento/Nfe_GDR7/CancelamentoHomologacao/Retorno/"/>
    
    <add key="PastaXMLCancelamentoProducao" value="C:/Desenvolvimento/Nfe_GDR7/CancelamentoProducao/"/>
    <add key="PastaXMLCancelamentoProducaoRetorno" value="C:/Desenvolvimento/Nfe_GDR7/CancelamentoProducao/Retorno/"/>
    
    <add key="PastaXMLCancelamentoProducaoCliente" value="C:/Desenvolvimento/Nfe_GDR7/CancelamentoProducao/Distribuicao/"/>
    
    <add key="PastaXMLCancelamentoHomologacaoCliente" value="C:/Desenvolvimento/Nfe_GDR7/CancelamentoHomologacao/Distribuicao/"/>

    <add key="PastaXMLCCeHomologacao" value="C:/Desenvolvimento/Nfe_GDR7/XMLCCeHomologacao/"/>
    <add key="PastaXMLCCeProducao" value="C:/Desenvolvimento/Nfe_GDR7/XMLCCeProducao/"/>
    <add key="PastaXMLCCeHomologacaoRetorno" value="C:/Desenvolvimento/Nfe_GDR7/XMLCCeHomologacaoRetorno/Retorno/"/>

    <add key="PastaXMLCCeProducao" value="C:/Desenvolvimento/Nfe_GDR7/XMLCCeProducao/Retorno/"/>
    <add key="PastaXMLCCeHomologacaoCliente" value="C:/Desenvolvimento/Nfe_GDR7/XMLCCeHomologacaoCliente/"/>
    <add key="PastaXMLCCeProducaoCliente" value="C:/Desenvolvimento/Nfe_GDR7/XMLCCeProducaoCliente/"/>

    <add key="PastaErro" value="C:/Desenvolvimento/Nfe_GDR7/Erro/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="PastaPDF" value="C:/Desenvolvimento/Nfe_GDR7/PDF/"/>
    <add key="ImageLogo" value="C:/Desenvolvimento/Nfe_GDR7/Imagens/logo_relatorioNFDanfe.jpg"/>
    <add key="ImageP" value="C:/Desenvolvimento/Nfe_GDR7/Imagens/p.gif"/>
    <add key="ImageB" value="C:/Desenvolvimento/Nfe_GDR7/Imagens/b.gif"/>
    <add key="ImageCanhoto" value="C:/Desenvolvimento/Nfe_GDR7/Imagens/BackCanhoto.jpg"/>
    <add key="Image" value="C:/Desenvolvimento/Nfe_GDR7/Imagens/"/>

    <add key="PathSchemaEvento" value="C:/Desenvolvimento/Nfe_GDR7/Schema/envCCe_v1.00.xsd"/>
    <add key="PathSchemaNfe" value="C:/Desenvolvimento/Nfe_GDR7/Schema/enviNFe_v3.10.xsd"/>

    <add key="PastaXMLValidacao" value="C:/Desenvolvimento/Nfe_GDR7/XMLValidacao/"/>

    <add key="PastaXMLCCeHomologacaoRetorno" value="C:/Desenvolvimento/Nfe_GDR7/CCeHomologacaoRetorno/"/>
    <add key="PastaXMLCCeProducaoRetorno" value="C:/Desenvolvimento/Nfe_GDR7/CCeProducaoRetorno/"/>
    <add key="PastaXMLCCeHomologacaoCliente" value="C:/Desenvolvimento/Nfe_GDR7/CCeHomologacaoCliente/"/>
    <add key="PastaXMLCCeProducaoCliente" value="C:/Desenvolvimento/Nfe_GDR7/CCeProducaoCliente/"/>

    <!--Conexao = 1-->
    <add key="CNN_Desenv" value="Data Source=GDR7SVDESENV\SQL2008;Initial Catalog=Intranet;Persist Security Info=True;User ID=intranet;Password=$vader7070"/>
    <!--Conexao = 2-->
    <add key="CNN_Homologacao" value="Data Source=gdr7sv002\SQL2014;Initial Catalog=intranethomolog;Persist Security Info=True;User ID=intranet;Password=#maiden4077"/>
    <!--Conexao = 3-->
    <add key="CNN_Producao" value="Data Source=gdr7sv002\SQL2014;Initial Catalog=Intranet;Persist Security Info=True;User ID=intranet;Password=#maiden4077"/>

  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <NFE.Properties.Settings>
      <setting name="NFE_HomologRetRecepcao_NfeRetRecepcao" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeRetRecepcao.asmx</value>
      </setting>
      <setting name="NFE_HomologCancelamento_NfeCancelamento" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeCancelamento.asmx</value>
      </setting>
      <setting name="NFE_HomologRecepcao_NfeRecepcao" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeRecepcao.asmx</value>
      </setting>
      <setting name="NFE_ProducaoRecepcao_NfeRecepcao" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/nfeWEB/services/NfeRecepcao.asmx</value>
      </setting>
      <setting name="NFE_ProducaoRetRecepcao_NfeRetRecepcao" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/nfeWEB/services/NfeRetRecepcao.asmx</value>
      </setting>
      <setting name="CL_NFE_ProducaoCancelamento_NfeCancelamento" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/nfeWEB/services/NfeCancelamento.asmx</value>
      </setting>
    </NFE.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
